.CountDown {
  background: white;
  padding: 20px 20px;

  &_content {
    border: 1px solid var(--black);
    border-radius: 5px;
    overflow: hidden;
    font-weight: bold;
  }

  &_title {
    background: var(--yellow);
    height: 34px;
    line-height: 34px;
    text-align: center;
    b {
      color: var(--lightRed);
      font-size: 18px;
    }
  }

  &_texts {
    background: black;
    color: white;
    height: 34px;
    display: grid;
    place-items: center;
    position: relative;
  }

  &_text {
    position: absolute;
    left: 14px;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &_value {
    font-size: 18px;
    color: var(--yellow);
    letter-spacing: 2px;
  }
}
