.Explain {
  padding: 30px 20px;

  &_title {
    display: grid;
    place-items: center;
  }
  &_list {
    border-top: 2px solid #3f3f3f;
    margin-top: 18px;
    li {
      border-bottom: 2px solid #3f3f3f;
    }
    &_header {
      display: flex;
      gap: 10px;
      padding: 20px 40px 20px 0;
      position: relative;
      &:after {
        width: 14px;
        height: 9px;
        display: block;
        content: '';
        background: center/cover no-repeat url(../../images/ico_expand_arrow_red.svg);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &_image {
        width: 103px;
        flex-shrink: 0;
      }
      &_number {
        width: 28px;
        height: 20px;
        width: 28px;
        height: 20px;
        color: white;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px; /* 100% */
        display: grid;
        place-items: center;
        background: #d72b2b;
      }
      &_title {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 133%; /* 23.94px */
        margin-top: 8px;
      }
    }
    &_content {
      padding-bottom: 20px;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 171%;
      display: none;
      em {
        color: #d72b2b;
      }
    }
  }
}
