.Faq {
  padding: 30px 20px 20px;
  display: grid;
  place-items: center;
  gap: 30px;

  &_title {
    width: 260px;
  }

  &_list {
    display: grid;
    gap: 10px;
    width: 100%;

    &_item {
      border-radius: 10px;
      border: 1px solid #3f3f3f;
      overflow: hidden;
    }

    &_header {
      padding: 15px 45px 15px 15px;
      cursor: pointer;
      position: relative;

      &:before,
      &:after {
        content: '';
        display: block;
        height: 3px;
        width: 15px;
        border-radius: 100vw;
        background: #d72b2b;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        transition: all 0.3s;
      }
      &:after {
        transform: translateY(-50%) rotate(90deg);
      }
      &.active {
        &:after {
          transform: translateY(-50%) rotate(0deg);
        }
      }
    }

    &_title {
      display: flex;
      align-items: center;
      gap: 12px;
      font-weight: 700;
      line-height: 150%; /* 24px */
      color: #3f3f3f;
      img {
        width: 18px;
      }
    }

    &_content {
      background: #fff7e9;
      padding: 10px 15px 15px;
      display: none;
    }

    &_text {
      color: #3f3f3f;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 175%; /* 21px */
      a {
        text-decoration: underline;
      }
      em {
        font-weight: bold;
      }
    }
  }
}
