.Labels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  li {
    border-radius: 3px;
    background: #26b4fc;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 12px */
    display: grid;
    place-items: center;
    padding: 6px 0;
    &.disabled {
      opacity: 0.8;
      background-color: #b9b9b9;
    }
  }
}
