<section class="Feature">
  <h3 class="Feature_title">
    <img class="discreet" src="images/Feature_no1_title.svg" alt="みんなが選んだのはコレ バレずに借りられる人気No1！">
    <img class="worry" src="images/Feature_worry_title.svg" alt="みんなが選んだのはコレ 審査が不安な方に人気No1！">
    <img class="proof" src="images/Feature_proof_title.svg" alt="みんなが選んだのはコレ 収入証明書なしで借入OK人気No1！">
    <img class="instant" src="images/Feature_instant_title.svg" alt="みんなが選んだのはコレ 即日融資できる人気No1！">
    <img class="low" src="images/Feature_low_title.svg" alt="みんなが選んだのはコレ 少額借りたい人気No1！">
  </h3>

  <aside class="Feature_contents">
    <div class="Feature_contents_header">
      <h3 class="Feature_contents_title">
        アコムアコムアコムアコムアコムアコム
      </h3>

      <div class="Feature_contents_value">
        <p class="title">申込実績</p>
        <p class="value js-inview-value"><em>12,000</em>件</p>
      </div>

      <!-- <div class="Feature_contents_rating">
        {{> stars}}
        <p class="rate js-rate">3.4</p>
      </div> -->
    </div>

    <div class="Feature_contents_body">
      <ul class="Labels">
        <li>
          バレにくい
        </li>
        <li>
          最短融資1h以内
        </li>
        <li>
          Webで完結
        </li>
        <li>
          スピード診断あり
        </li>
        <li>
          30日間金利0円
        </li>
        <li>
          土日祝OK
        </li>
      </ul>
      <div class="Feature_contents_main">
        <a href="#" class="thumb">
          <img src="images/thumb/every-card_acom_02.jpg" alt="">
        </a>
        <table>
          <tbody>
            <tr>
              <th>審査時間</th>
              <td>最短20分※</td>
            </tr>
            <tr>
              <th>融資時間</th>
              <td>最短20分※</td>
            </tr>
            <tr>
              <th>実質年率</th>
              <td>3.0% ~18.0%</td>
            </tr>
            <tr>
              <th>収入証明書</th>
              <td>50万円を超える場合は必要</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="Feature_contents_info">
        <figure class="image">
          <img src="images/Feature_expart_img.png" alt="専門家の声">
        </figure>
        <div class="texts">
          <p class="title">
            <em>アコム</em><span>を</span>選ぶ理由
          </p>
          <p class="text">
            コメント<em>コメント</em>コメントコメントコメントコメントコメント<b>コメント</b>コメントコメントコメントコメント。
          </p>
        </div>
      </div>
    </div>
    <div class="Feature_footer">
      <div class="CountDownItem">
        <div class="CountDownItem_content">
          <p class="CountDownItem_title"><b>本日中借入</b><br>の場合</p>
          <div class="CountDownItem_texts">
            <p class="CountDownItem_text">
              残り
              <img src="images/ico_time.svg" alt="">
            </p>
            <p class="CountDownItem_value">
              <span class="hour">0</span>時間<span class="minute">0</span>分<span class="second">0</span>秒
            </p>
          </div>
        </div>
      </div>
      <a href="#" class="Button">
        【公式】詳しくはこちら
      </a>
    </div>
  </aside>

  <small>※当サイト内の申込数集計による</small>
</section>