<section class="Pickup">
  <div class="Pickup_wrapper">
    <h3 class="Pickup_title">
      迷ったらまずは定番のこちら
    </h3>
    <aside class="CardDetail">
      <div class="CardDetail_header">
        <h3 class="CardDetail_title">
          アコムアコム
        </h3>
      </div>
      <div class="CardDetail_body">
        <ul class="Labels">
          <li>
            バレにくい
          </li>
          <li>
            最短融資1h以内
          </li>
          <li>
            Webで完結
          </li>
          <li>
            スピード診断あり
          </li>
          <li>
            30日間金利0円
          </li>
          <li>
            土日祝OK
          </li>
        </ul>
        <h4 class="CardDetail_body_title">
          借入可能か3秒で診断！申込から契約まで全部スマホで完結
        </h4>
        <div class="CardDetail_main">
          <a href="#" class="CardDetail_main_thumb">
            <img src="images/thumb/every-card_acom_02.jpg" alt="">
          </a>
          <div class="CardDetail_main_texts">
            <div class="CardDetail_value">
              <p class="title">申込実績</p>
              <p class="value js-inview-value"><em>12,000</em>件</p>
            </div>
            <p class="CardDetail_tooltip">
              <em>本日</em>借り入れも◎
            </p>
            <table class="CardDetail_main_table">
              <tbody>
                <tr>
                  <th>審査時間</th>
                  <td>最短20分※</td>
                </tr>
                <tr>
                  <th>融資時間</th>
                  <td>最短20分※</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="Pickup_footer">
          <div class="CountDownItem">
            <div class="CountDownItem_content">
              <p class="CountDownItem_title"><b>本日中借入</b><br>の場合</p>
              <div class="CountDownItem_texts">
                <p class="CountDownItem_text">
                  残り
                  <img src="images/ico_time.svg" alt="">
                </p>
                <p class="CountDownItem_value">
                  <span class="hour">0</span>時間<span class="minute">0</span>分<span class="second">0</span>秒
                </p>
              </div>
            </div>
          </div>
          <a href="#" class="Button">
            【公式】詳しくはこちら
          </a>
        </div>
      </div>
    </aside>
  </div>
</section>