<section class="Top3">
  <div class="Top3_wrapper">
    <h3 class="Top3_title">
      <img src="images/top3_title.png" alt="バレずに即日借りられる！おすすめカードローンTOP3">
    </h3>
    <div class="Top3_info">
      <p class="Top3_info_title">
        <em>申し込み前</em>に要チェック
      </p>
      <div class="Top3_info_texts">
        <p class="Top3_info_texts_title">
          審査に通るためのコツ
        </p>
        <p class="Top3_info_texts_text">
          <em>過去に申し込みしたことのない</em><br>
          カードローンを選びましょう。
        </p>
      </div>
    </div>

    <aside class="CardDetail -gold">
      <div class="CardDetail_header">
        <h3 class="CardDetail_title">
          アコムアコム
        </h3>
      </div>
      <div class="CardDetail_body">
        <ul class="Labels">
          <li>
            バレにくい
          </li>
          <li>
            最短融資1h以内
          </li>
          <li>
            Webで完結
          </li>
          <li>
            スピード診断あり
          </li>
          <li>
            30日間金利0円
          </li>
          <li>
            土日祝OK
          </li>
        </ul>
        <h4 class="CardDetail_body_title">
          借入可能か3秒で診断！申込から契約まで全部スマホで完結
        </h4>
        <div class="CardDetail_main">
          <a href="#" class="CardDetail_main_thumb">
            <img src="images/thumb/every-card_acom_02.jpg" alt="">
          </a>
          <div class="CardDetail_main_texts">
            <div class="CardDetail_value">
              <p class="title">申込実績</p>
              <p class="value js-inview-value"><em>12,000</em>件</p>
            </div>
            <p class="CardDetail_tooltip">
              <em>本日</em>借り入れも◎
            </p>
            <table class="CardDetail_main_table">
              <tbody>
                <tr>
                  <th>審査時間</th>
                  <td>最短20分※</td>
                </tr>
                <tr>
                  <th>融資時間</th>
                  <td>最短20分※</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ul class="CardDetail_list">
          <li>
            <p class="CardDetail_list_title">
              実質年率
            </p>
            <p class="CardDetail_list_text">
              3.0% ~18.0%
            </p>
          </li>
          <li>
            <p class="CardDetail_list_title">
              収入証明書
            </p>
            <p class="CardDetail_list_text">
              50万円を超える場合は必要
            </p>
          </li>
          <li>
            <p class="CardDetail_list_title">
              提携ATM
            </p>
            <div class="CardDetail_list_icons">
              <img src="images/atm_familymart.png" alt="">
              <img src="images/atm_lawson.png" alt="">
              <img src="images/atm_ministop.png" alt="">
              <img src="images/atm_seven.png" alt="">
            </div>
          </li>
          <li>
            <p class="CardDetail_list_title">
              借入限度額
            </p>
            <p class="CardDetail_list_text">
              1万円～800万円
            </p>
          </li>
        </ul>
        <div class="CardDetail_point">
          <p class="CardDetail_point_title">
            おすすめポイント
          </p>
          <ul class="CardDetail_point_list">
            <li class="CardDetail_point_list_item">
              初めての方は30日間金利手数料0円！
            </li>
            <li class="CardDetail_point_list_item">
              3秒で事前診断可能！※
            </li>
            <li class="CardDetail_point_list_item">
              24時間いつでも借入・返済が可能！
            </li>
          </ul>
        </div>
        <div class="Top3_footer">
          <div class="CountDownItem">
            <div class="CountDownItem_content">
              <p class="CountDownItem_title"><b>本日中借入</b><br>の場合</p>
              <div class="CountDownItem_texts">
                <p class="CountDownItem_text">
                  残り
                  <img src="images/ico_time.svg" alt="">
                </p>
                <p class="CountDownItem_value">
                  <span class="hour">0</span>時間<span class="minute">0</span>分<span class="second">0</span>秒
                </p>
              </div>
            </div>
          </div>
          <a href="#" class="Button">
            【公式】詳しくはこちら
          </a>
        </div>
      </div>
    </aside>

    <aside class="CardDetail -silver">
      <div class="CardDetail_header">
        <h3 class="CardDetail_title">
          アコムアコム
        </h3>
      </div>
      <div class="CardDetail_body">
        <ul class="Labels">
          <li>
            バレにくい
          </li>
          <li>
            最短融資1h以内
          </li>
          <li>
            Webで完結
          </li>
          <li>
            スピード診断あり
          </li>
          <li>
            30日間金利0円
          </li>
          <li>
            土日祝OK
          </li>
        </ul>
        <h4 class="CardDetail_body_title">
          借入可能か3秒で診断！申込から契約まで全部スマホで完結
        </h4>
        <div class="CardDetail_main">
          <a href="#" class="CardDetail_main_thumb">
            <img src="images/thumb/every-card_acom_02.jpg" alt="">
          </a>
          <div class="CardDetail_main_texts">
            <div class="CardDetail_value">
              <p class="title">申込実績</p>
              <p class="value js-inview-value"><em>12,000</em>件</p>
            </div>
            <p class="CardDetail_tooltip">
              <em>本日</em>借り入れも◎
            </p>
            <table class="CardDetail_main_table">
              <tbody>
                <tr>
                  <th>審査時間</th>
                  <td>最短20分※</td>
                </tr>
                <tr>
                  <th>融資時間</th>
                  <td>最短20分※</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ul class="CardDetail_list">
          <li>
            <p class="CardDetail_list_title">
              実質年率
            </p>
            <p class="CardDetail_list_text">
              3.0% ~18.0%
            </p>
          </li>
          <li>
            <p class="CardDetail_list_title">
              収入証明書
            </p>
            <p class="CardDetail_list_text">
              50万円を超える場合は必要
            </p>
          </li>
          <li>
            <p class="CardDetail_list_title">
              提携ATM
            </p>
            <div class="CardDetail_list_icons">
              <img src="images/atm_familymart.png" alt="">
              <img src="images/atm_lawson.png" alt="">
              <img src="images/atm_ministop.png" alt="">
              <img src="images/atm_seven.png" alt="">
            </div>
          </li>
          <li>
            <p class="CardDetail_list_title">
              借入限度額
            </p>
            <p class="CardDetail_list_text">
              1万円～800万円
            </p>
          </li>
        </ul>
        <div class="CardDetail_point">
          <p class="CardDetail_point_title">
            おすすめポイント
          </p>
          <ul class="CardDetail_point_list">
            <li class="CardDetail_point_list_item">
              初めての方は30日間金利手数料0円！
            </li>
            <li class="CardDetail_point_list_item">
              3秒で事前診断可能！※
            </li>
            <li class="CardDetail_point_list_item">
              24時間いつでも借入・返済が可能！
            </li>
          </ul>
        </div>
        <div class="Top3_footer">
          <div class="CountDownItem">
            <div class="CountDownItem_content">
              <p class="CountDownItem_title"><b>本日中借入</b><br>の場合</p>
              <div class="CountDownItem_texts">
                <p class="CountDownItem_text">
                  残り
                  <img src="images/ico_time.svg" alt="">
                </p>
                <p class="CountDownItem_value">
                  <span class="hour">0</span>時間<span class="minute">0</span>分<span class="second">0</span>秒
                </p>
              </div>
            </div>
          </div>
          <a href="#" class="Button">
            【公式】詳しくはこちら
          </a>
        </div>
      </div>
    </aside>

    <aside class="CardDetail -bronze">
      <div class="CardDetail_header">
        <h3 class="CardDetail_title">
          アコムアコム
        </h3>
      </div>
      <div class="CardDetail_body">
        <ul class="Labels">
          <li>
            バレにくい
          </li>
          <li>
            最短融資1h以内
          </li>
          <li>
            Webで完結
          </li>
          <li>
            スピード診断あり
          </li>
          <li>
            30日間金利0円
          </li>
          <li>
            土日祝OK
          </li>
        </ul>
        <h4 class="CardDetail_body_title">
          借入可能か3秒で診断！申込から契約まで全部スマホで完結
        </h4>
        <div class="CardDetail_main">
          <a href="#" class="CardDetail_main_thumb">
            <img src="images/thumb/every-card_acom_02.jpg" alt="">
          </a>
          <div class="CardDetail_main_texts">
            <div class="CardDetail_value">
              <p class="title">申込実績</p>
            </div>
            <div class="CardDetail_rating">
              {{> stars}}
              <p class="rate js-rate">4.8</p>
            </div>
            <p class="CardDetail_tooltip">
              <em>本日</em>借り入れも◎
            </p>
            <table class="CardDetail_main_table">
              <tbody>
                <tr>
                  <th>審査時間</th>
                  <td>最短20分※</td>
                </tr>
                <tr>
                  <th>融資時間</th>
                  <td>最短20分※</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ul class="CardDetail_list">
          <li>
            <p class="CardDetail_list_title">
              実質年率
            </p>
            <p class="CardDetail_list_text">
              3.0% ~18.0%
            </p>
          </li>
          <li>
            <p class="CardDetail_list_title">
              収入証明書
            </p>
            <p class="CardDetail_list_text">
              50万円を超える場合は必要
            </p>
          </li>
          <li>
            <p class="CardDetail_list_title">
              提携ATM
            </p>
            <div class="CardDetail_list_icons">
              <img src="images/atm_familymart.png" alt="">
              <img src="images/atm_lawson.png" alt="">
              <img src="images/atm_ministop.png" alt="">
              <img src="images/atm_seven.png" alt="">
            </div>
          </li>
          <li>
            <p class="CardDetail_list_title">
              借入限度額
            </p>
            <p class="CardDetail_list_text">
              1万円～800万円
            </p>
          </li>
        </ul>
        <div class="CardDetail_point">
          <p class="CardDetail_point_title">
            おすすめポイント
          </p>
          <ul class="CardDetail_point_list">
            <li class="CardDetail_point_list_item">
              初めての方は30日間金利手数料0円！
            </li>
            <li class="CardDetail_point_list_item">
              3秒で事前診断可能！※
            </li>
            <li class="CardDetail_point_list_item">
              24時間いつでも借入・返済が可能！
            </li>
          </ul>
        </div>
        <div class="Top3_footer">
          <div class="CountDownItem">
            <div class="CountDownItem_content">
              <p class="CountDownItem_title"><b>本日中借入</b><br>の場合</p>
              <div class="CountDownItem_texts">
                <p class="CountDownItem_text">
                  残り
                  <img src="images/ico_time.svg" alt="">
                </p>
                <p class="CountDownItem_value">
                  <span class="hour">0</span>時間<span class="minute">0</span>分<span class="second">0</span>秒
                </p>
              </div>
            </div>
          </div>
          <a href="#" class="Button">
            【公式】詳しくはこちら
          </a>
        </div>
      </div>
    </aside>
  </div>
</section>