.CountDownItem {
  background: var(--yellow);
  padding: 8px 10px;
  position: relative;
  border-radius: 5px;

  &:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 10px solid var(--yellow);
    border-bottom: 0;
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }

  &_content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_title {
    font-weight: bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 129%; /* 16.77px */
    letter-spacing: -0.52px;
    b {
      color: var(--lightRed);
    }
  }

  &_texts {
    background: black;
    color: white;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex: 1;
  }

  &_text {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 12px;
    img {
      width: 12px;
    }
  }

  &_value {
    font-size: 18px;
    color: var(--yellow);
    letter-spacing: 0;
  }
}
